<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- HTML document title -->

    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <!-- Importing custom font from Google Fonts -->

</head>

<style>
    /* CSS styles for various elements */

    .custom-font {
        font-family: 'PT Sans', sans-serif;
    }
</style>

<body class="custom-font">
    <!-- Body with custom font family -->

    Click the following link to reset your password:
    <!-- Text message -->

    <a href="{{ reset_link }}">Reset Password</a>
    <!-- Link to reset password with a dynamic URL variable `reset_link` -->

</body>

</html>
<!-- End of the HTML code -->
